---
import Layout from "../layouts/Layout.astro";
import InkReveal4 from "../components/InkReveals/InkReveal4";
---

<Layout title="Ink Reveal 4">
  <main style="position: relative; z-index: 10; font-family: sans-serif; height: 100vh; display: flex; align-items: center; justify-content: center; overflow: hidden; color: white;">
    <InkReveal4 client:only="react" />
    <h1 style="font-size: 5rem; text-align: center; font-weight: bold;">
      INK REVEAL 4<br/><span style="font-size: 2rem;">Heavy Ink Injection</span>
    </h1>
  </main>
</Layout>