---
import Layout from "../layouts/Layout.astro";
import InkReveal3 from "../components/InkReveals/InkReveal3";
---

<Layout title="Ink Reveal 3">
  <main style="position: relative; z-index: 10; font-family: sans-serif; height: 100vh; display: flex; align-items: center; justify-content: center; overflow: hidden; color: white;">
    <InkReveal3 client:only="react" />
    <h1 style="font-size: 5rem; text-align: center; font-weight: bold;">
      INK REVEAL 3<br/><span style="font-size: 2rem;">Smoke in Air</span>
    </h1>
  </main>
</Layout>