---
import Layout from "../layouts/Layout.astro";
import InkReveal5 from "../components/InkReveals/InkReveal5";
---

<Layout title="Ink Reveal 5">
  <main style="position: relative; z-index: 10; font-family: sans-serif; height: 100vh; display: flex; align-items: center; justify-content: center; overflow: hidden; color: white;">
    <InkReveal5 client:only="react" />
    <h1 style="font-size: 5rem; text-align: center; font-weight: bold;">
      INK REVEAL 5<br/><span style="font-size: 2rem;">Slow Plume</span>
    </h1>
  </main>
</Layout>