---
import { SOCIALS } from "@/constants";
import type { HTMLAttributes } from "astro/types";
import LinkButton from "./LinkButton.astro";

type Props = {
  vertical?: boolean;
} & HTMLAttributes<"div">;

const { vertical = false, class: className, ...attrs } = Astro.props;
---

<div
  class:list={[
    "flex items-center gap-1",
    vertical ? "flex-col" : "flex-wrap",
    className,
  ]}
  {...attrs}
>
  {
    SOCIALS.map(social => (
      <LinkButton
        href={social.href}
        class="p-2 transition-transform hover:rotate-6 sm:p-1"
        title={social.linkTitle}
      >
        <social.icon class="inline-block size-6 scale-125 fill-transparent stroke-current stroke-2 opacity-90 group-hover:fill-transparent sm:scale-110" />
        <span class="sr-only">{social.linkTitle}</span>
      </LinkButton>
    ))
  }
</div>
